

h1{
    color: lightskyblue;
    font-weight: bolder;
    padding-left: 25px;
    padding-top: 20px;
}

.portfoliolinks{
    font-size: 25px;
    color: darkmagenta;
    text-align: center;
}



@media screen and (max-width: 640px){
 
    .portfolioCard{
        width: 160px;
        height: 90px;

    }
}
@media screen and (min-width: 641px) and (max-width: 768px){

    .portfolioCard{
        width: 320px;
        height: 180px;

    }

}

@media screen and (min-width: 769px) and (max-width: 980px){

    .portfolioCard{
        width: 640px;
        height: 360px;

    }

}

.footerclass{
    background-color: lightskyblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "photography group1 group2 personal" "photography group1 group2 personal" "photography group1 group2 personal";
  }
  
  .photography { grid-area: photography; }
  
  .group1 { grid-area: group1; }
  
  .group2 { grid-area: group2; }
  
  .personal { grid-area: personal; }