

h1{
    color: lightskyblue;
    font-weight: bolder;
    padding-left: 25px;
    padding-top: 20px;
}

@media screen and (max-width: 640px){
 
    .portfolioCard{
        width: 160px;
        height: 90px;

    }
}
@media screen and (min-width: 641px) and (max-width: 768px){

    .portfolioCard{
        width: 320px;
        height: 180px;

    }

}

@media screen and (min-width: 769px) and (max-width: 980px){

    .portfolioCard{
        width: 640px;
        height: 360px;

    }

}

.footerclass{
    background-color: lightskyblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}